<div class="container mt-5">


    <tabset>
        <tab heading="Actice Courses">

            <div class="row" *ngFor="let item of myCourses">
                <div class="col-md-12" >
                    <div class="card p-1 border-bottom border-left border-right" >
                        <div class="card-horizontal d-flex justify-content-start align-items-center p-2">
                            <div class="img-square-wrapper">
                                <img class="img-fluid" src="{{item.pictureUrl}}" alt="{{item.courseName}}">
                            </div>
                            <div class="card-body align-items-start">

                                <h6 class="my-0">{{item.courseName}}</h6>
                                <small class="text-muted">{{item.instructorName}}</small>
                            </div>
                            <div class="d-flex align-items-start justify-content-start">
                                <div class="ml-5 d-flex align-items-center justify-content-center ">
                                        
                                    <span class="badge badge-pill badge-success text-wrap mr-4">Valid for 2 days from start</span>
                                    <button href="#" class="btn text-sm btn-dark active" style="border-radius: 40px;" (click)='onCourseView(item.id)'> Get Started </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </tab>
        <tab heading="Expired Courses">Basic content 2</tab>
    </tabset>



</div>