
<div class="header">
    <a href="#" id="menu-action">
      <i class="fa fa-bars"></i>
      <span>Close</span>
    </a>
    <div class="logo">
      Instructor Portal
    </div>
  </div>
  <div class="sidebar">
    <ul>
      <li><a [routerLink]="['dashboard']" routerLinkActive="router-link-active" ><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
      <li><a [routerLink]="['course/create']" routerLinkActive="router-link-active" ><i class="fa fa-book"></i><span>Courses</span></a></li>
      <li><a href="#"><i class="fa fa-graduation-cap"></i><span>Students</span></a></li>
      <li><a href="#"><i class="fa fa-bar-chart"></i><span>Performances</span></a></li>
      <li><a href="#"><i class="fa fa-star-o"></i><span>Reviews</span></a></li>
      <li><a href="#"><i class="fa fa-cogs"></i><span>Settings</span></a></li>
      </ul>
  </div>
  
<router-outlet></router-outlet>