
<div class="header">
    <a href="#" id="menu-action">
      <i class="fa fa-bars"></i>
      <span>Close</span>
    </a>
    <div class="logo">
      Novus Portal
    </div>
  </div>
  <div class="sidebar">
    <ul>
      <li><a [routerLink]="['course']" routerLinkActive="router-link-active" ><i class="fa fa-desktop"></i><span>Courses</span></a></li>
      <li><a href="#"><i class="fa fa-server"></i><span>Students</span></a></li>
      <li><a href="#"><i class="fa fa-calendar"></i><span>Performances</span></a></li>
      <li><a href="#"><i class="fa fa-envelope-o"></i><span>Reviews</span></a></li>
      <li><a href="#"><i class="fa fa-table"></i><span>Settings</span></a></li>
      </ul>
  </div>
  
<router-outlet></router-outlet>