<carousel>
    <slide>
        <img src="assets/images/main-banner2.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/main-banner4.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12 my-3 text-center">
            <h4>The best and affordable selection of courses</h4>
            <p>Choose from online dental video courses with new additions published every month</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 mb-4" *ngFor="let course of allCourses;let index=index">
                    <app-course-item [course]="course"></app-course-item>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 250px;" class="bg-dark">
    <div class="container text-white text-center py-5">
        <h2>Get personal learning recommendations</h2>
        <p class="lead mb-3">Multiple lines of text that form the lede.</p>
        <div class="text-center"><button type="button" [routerLink]="['/shop']" class="btn btn-lg btn-outline-secondary">Courses</button></div>
    </div>
</div>

<div class="container my-5">
    <h3>Categories</h3>
    <div class="row mt-3">
        <div class="col-md-3">
            <div class="card mb-2" [routerLink]="['/shop']">
                <img class="card-img-top img-fluid" style="height:400px; cursor: pointer" src="assets/images/ore-part-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <strong class="font-bold"> ORE Part 1</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-2" [routerLink]="['/shop']">
                <img class="card-img-top img-fluid" style="height:400px; cursor: pointer" src="assets/images/ore-part-2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <strong class="font-bold"> ORE Part 2</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-2" [routerLink]="['/shop']">
                <img class="card-img-top img-fluid" style="height:400px; cursor: pointer" src="assets/images/lds-part-1.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <strong class="font-bold"> LDS Part 1</strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-2" [routerLink]="['/shop']">
                <img class="card-img-top img-fluid" style="height:400px; cursor: pointer" src="assets/images/lds-part-2.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">
                        <strong class="font-bold"> LDS Part 2</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height: 250px; background: lightgrey;" class="my-5">
        <div class="container text-center py-5">
            <h2>Become an instructor</h2>
            <p class="lead">Multiple lines of text that form the lede.</p>
            <div class="text-center"><a [routerLink]="['/teach/instructor']" class="btn btn-lg btn-outline-dark">Start teaching</a></div>
        </div>
</div>