<div class="modal-header bg-dark text-white">
  <h4 class="modal-title pull-left"> {{ title }} </h4>
  <button style="outline: none" type="button" class="close pull-right btn-outline" aria-label="Close"
    (click)="modalRef.hide()">
    <i class="fa fa-times-circle-o" style="color: white" aria-hidden="true"></i>
  </button>
</div>
<div class="modal-body">
  <div class="card border-0">
    <div class="card-body">
      <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">

        <div class="form-group mb-3">
         <label>Title</label>
          <input class="form-control" formControlName="contentTitle" placeholder="Content Title">
          <div class="text-danger" *ngIf="isSubmitted && formControls.contentTitle.errors?.required">This field is
            required.
          </div>
        </div>

        <div class="form-group mb-3">
          <label>Select file to upload</label>
          <input type="file" class="form-control" #fileUploader formControlName="contentUrl"
            (change)="showPreview($event)" style="padding: 2px;">
          <div class="text-danger" *ngIf="isSubmitted && formControls.contentUrl.errors?.required">This field is
            required.
          </div>
        </div>

        <div class="form-group mb-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" formControlName="isFree" class="custom-control-input" id="customCheck">
            <label class="custom-control-label" for="customCheck">Please check this if you want to make this content
              available for free</label>
          </div>

        </div>
        <div class="form-row mt-5">
          <div class="form-group col-md-6">
            <button (click)='onCancel()' class="btn btn-secondary btn-lg btn-block float-right">Cancel</button>
          </div>
          <div class="form-group col-md-6">
            <button type="submit" [disabled]= 'isSubmitted' class="btn btn-dark btn-block btn-lg float-right">{{submitButtonValue}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>