<div class="container mt-5">
    <div class="row my-1" *ngIf="basketItems?.length > 0; else basketEmpty">
        <div class="col-md-8 py-1">
            <div class="my-3">
                <ng-container>
                    <div id="basket-id">
                        <div>
                            <h6 class="text-dark">Courses you bought</h6>
                        </div>
                        <div class="row p-1 border-bottom border-left border-right" *ngFor="let item of basketItems">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-horizontal d-flex justify-content-start align-items-center p-2">
                                        <div class="img-square-wrapper">
                                            <img class="img-fluid" src="{{item.pictureUrl}}" alt="{{item.courseName}}">
                                        </div>
                                        <div class="card-body align-items-start">

                                            <h6 class="my-0">{{item.courseName}}</h6>
                                            <small class="text-muted">{{item.instructorName}}</small>
                                        </div>
                                        <div class="d-flex align-items-start justify-content-start">
                                            <button class="btn btn-link btn-sm text-secondary" (click)='onRemoveBasketItem(item.id)'>
                                                Remove</button>

                                        </div>
                                        <div class="ml-5 d-flex align-items-start justify-content-center ">
                                            <h5 class="text-dark">{{item.price | currency}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <div>
                    <app-basket-summary [basketItems]='basketItems'></app-basket-summary>
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <a class="btn btn-dark btn-lg btn-block text-uppercase text-white"
                                (click)='onCheckout()'>Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #basketEmpty>
        <div class="row my-5">
            <div class="col-md-8 py-3">
                <h3 class="text-center">Basket is empty!</h3>
            </div>
        </div>
    </ng-template>
</div>