// .card-horizontal {
//     display: flex;
    
// }
.card
{
    border: none;
}

img{
    width:130px;
    height: auto;;
    max-height: 80px;
}

div:last-child {
   border-bottom: 1 px solid green($color: #000000);
  }