<div class="d-flex justify-content-center mt-5">
  <div class="col-xs-12 col-md-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


      <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
      <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>
     
      <button [disabled]="loginForm.invalid" class="btn btn-lg btn-danger btn-block text-white" type="submit">Sign in</button>
      <div *ngIf="error">
        <p class="text-danger small my-3" > <strong>{{error}} </strong> </p>
      </div>
    </form>
  </div>
</div>

