.main-banner
{
    background-image: url("/assets/images/main-banner.jpg");
    background-size: cover;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
