<app-nav-bar></app-nav-bar>

<div style="margin-top: 120px;">
        <div class="jumbotron p-5 p-md-5 text-white rounded bg-dark main-banner">
            <div class="container">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">{{ title }}</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                    efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
            </div>
            </div>

        </div>

    <div class="container">
        <app-shop></app-shop>
    </div>
</div>
