<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <img src="/assets/images/logo.png" style="max-height: 90px" alt="E-Prep" />
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger">
    <a class="p-2 text-dark" href="#">Home</a>
    <span class="position-relative" dropdown (onShown)="onShown()" (onHidden)="onHidden()" (isOpenChange)="isOpenChange()">
        <a href id="basic-link" dropdownToggle (click)="false"
           aria-controls="basic-link-dropdown" class="p-2 text-dark" >Category</a>
        <ul style="position: absolute;" id="basic-link-dropdown" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="basic-link">
          <li *ngFor="let choice of items">
            <a class="dropdown-item" href="#">{{choice}}</a>
          </li>
        </ul>
      </span>
    <a class="p-2 text-dark" href="#">Teach</a>  
  </nav>

  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-secondary mr-2">Login</a>
    <a class="btn btn-outline-secondary mr-3">Sign up</a>
  </div>
</div>