<div class="row mt-5 mb-5" >
    <div class="col-md-12">
        <table class="table table-hover" *ngIf="contents">
            <thead class="thead-dark">
                <tr>
                    <th>Title</th>
                    <th>Video Url</th>
                    <th style="width:20px;">Free</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let content of contents">
                    <td>{{content.Title}}</td>
                    <td>{{content?.SubTitle}}</td>
                    <td style="text-align: right"><i class="fa fa-check" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- <form class="my-5 p-4" [formGroup]="courseForm" style="border: 2px solid aliceblue; background-color:aliceblue">
    <div formGroupName="courseUploadForm">
        <div class="row">
            <div class="col-md-12 mb-3">

                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" >
                        <label class="custom-file-label">Choose file</label>
                    </div>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-5">

                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th>Size</th>
                            <th>Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td *ngIf="uploader.options.isHTML5" nowrap>
                                {{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td *ngIf="uploader.options.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                        [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item.isSuccess"><i class="fa fa-check" aria-hidden="true"></i></span>
                                <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                                <span *ngIf="item.isError"><i class="fa fa-times"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs mr-2" (click)="item.upload()"
                                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <i class="fa fa-upload"></i> Upload
                                </button>
                                <button type="button" class="btn  btn-danger btn-xs" (click)="item.remove()">
                                    <i class="fa fa-trash-o"></i> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mb-5">
                <label for="email">Course Title</label>
                <input type="email" formControlName="contentTitle" class="form-control" id="email"
                    placeholder="you@example.com">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                    <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="switch1">
                            <label class="custom-control-label" for="switch1">Set this video as free view, Eg: Introduction video.</label>
                          </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-dark text-uppercase">Add</button>
            </div>
        </div>



        <div class="row mb-5">
            <div class="col-md-12">

                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success btn-s mr-3" (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
                    [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
        </div>

      

    </div>
</form> -->

<div class="pb-3 border" style="cursor: pointer">
    <div class="d-flex justify-content-center my-3" (click)='onAddCourseContent()'>
    <div><i class="fa fa-plus-circle fa-4x" style="color: #772953" aria-hidden="true"></i></div>
</div>
<div style="text-align: center">Click + sign to add course contents</div>
</div>



<hr class="my-4">

<div class="float-none d-flex justify-content-between flex-column flex-lg-row my-5">
    <button class="btn btn-outline-dark" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Course Info
    </button>
    <button class="btn btn-dark" cdkStepperNext>
        Preview <i class="fa fa-angle-right"></i>
    </button>
</div>