.main-banner
{
    background-image: url("/assets/images/main-banner.jpg");
    background-size: cover;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.btn-group
{
    width:100%;
}

.btn
{
width: 50%;
}

// ::ng-deep .carousel-control-prev, ::ng-deep .carousel-control-next {
//     background-color: white;
//   }
  ::ng-deep .carousel .carousel-control-prev-icon {
    background-color:#19639E;
    width: 50px;
    height: 50px;
    background-size: 31%;
    border-radius: 50%;
    position: absolute;
    left: -10px;
  }

  ::ng-deep .carousel .carousel-control-next-icon {
    background-color:#19639E;
    width: 50px;
    height: 50px;
    background-size: 31%;
    border-radius: 50%;
    position: absolute;
    right: -25px;
  }
  
  .list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus {
        outline: none;
    }

    &.active {
        border-radius: 10px;
    }

    &:not(.active):hover {
        color: #fff;
        background-color: rgba(233, 86, 32, 0.705);
        border-radius: 10px;
    }
}