<div class="container mt-5">

    <div class="row">
        <section class="col-md-3">
            <ng-container *ngIf="true">
                <!-- <h5 class="text-black ml-3 mt-4 mb-3">Sort</h5>
                <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
                                <option *ngFor="let sort of sortOptions" 
                                    [selected]="shopParams.sort === sort.value"
                                    [value]="sort.value">
                                    {{sort.name}}
                                </option>
                            </select> -->

                <h5 class="text-dark ml-3">Category</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" [class.active]="true"> Dental </li>
                    <li class="list-group-item" [class.active]="false"> Medicine </li>
                </ul>
                <h5 class="text-dark ml-3">Filter</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" [class.active]="true">
                        ORE Part 1
                    </li>
                    <li class="list-group-item" [class.active]="false">
                        ORE Part 2
                    </li>
                    <li class="list-group-item" [class.active]="false">
                        LDS Part 1
                    </li>
                    <li class="list-group-item" [class.active]="false">
                        LDS Part
                    </li>
                    <li class="list-group-item" [class.active]="false">
                        MJDF Part 1
                    </li>
                </ul>
            </ng-container>
        </section>
        <section class="col-md-9">
                <!-- <div class="d-flex justify-content-between align-items-center pb-2">
                        <div class="form-inline" *ngIf="true">
                            <input class="form-control mr-2" #search style="width: 300px" placeholder="Search" type="text">
                            <button class="btn btn-outline-primary my-2">Search</button>
                            <button class="btn btn-outline-success ml-2 my-2">Reset</button>
                        </div>
                    </div> -->
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let course of courses;let index=index">
                    <app-course-item [course]="course"></app-course-item>
                </div>
            </div>
        </section>
    </div>
</div>


<!-- 
    <div class="row">
            <carousel *ngIf="courses"  [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]=false [showIndicators]=true [noWrap]=true
                [interval]="false" [startFromIndex]="1">
                <slide class="card h-100 shadow-sm ml-3" *ngFor="let course of courses;let index=index">
                    <app-course-item [course]="course"></app-course-item>
                </slide>
            </carousel>
        </div> -->