.main-banner
{
    background-image: url("/assets/images/main-banner.jpg");
    background-size: cover;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.btn-group
{
    width:100%;
}

.btn
{
width: 50%;
}


  
  .list-group-item {
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus {
        outline: none;
    }

    &.active {
        border-radius: 10px;
    }

    &:not(.active):hover {
        color: #fff;
        background-color: rgba(233, 86, 32, 0.705);
        border-radius: 10px;
    }
}



.example-container {
    position: absolute;
    top: 80px;
    bottom: 60px;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width:380px;
  }
  
 
   .mobile-width
   {
       width: 380px;
   }

   .desktop-width{
       width: 600px;
   }

   .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  

  .example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }