/* You can add global styles to this file, and also import other style files */
@import '~ngx-videogular/fonts/videogular.css';

body{
    min-height: 75rem;
    padding-top: 6rem;
}
.bg-dark {
    background-color: #772953 !important;
}

h2, .h2 {
    font-size: 2rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}