.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .logo {
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  }



a {
  color: #343840;
  text-decoration: none;

  &.active {
    color: white;
  }
}

a:hover {
  text-decoration: none;
}
  