.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .logo {
    cursor: pointer;
  
    &:focus {
      outline: none;
    }
  }



a {
  color: #343840;
  text-decoration: none;

  &.active {
    color: white;
  }
}

a:hover {
  text-decoration: none;
}
  
.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: 1em;
  background: #6E1B52;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}
