<carousel>
    <slide>
        <img src="assets/images/main-banner2.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/main-banner4.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/hero1.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center py-4">
        <h1>Welcome to Novus</h1>
    </div>
</section>

<ul *ngIf="allCourses">
    <li *ngFor="let item of allCourses">
      <a (click)='onSelectCourse(item.Id)'>  {{item.Id}} - {{item.Title}} - {{item.Description}} </a> 
    </li>
</ul>

<h2 *ngIf="selectedCourse"> {{ selectedCourse?.Id}} - {{selectedCourse?.Title}}</h2>

<button (click)='onUpdateCourse()' class="btn btn-danger btn-md">Update Selected course</button>